# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
tflint-ruleset-jeremad

# Test & coverage
*.test
*.out
coverage.out

# Build cache
/dist/

# Go workspace
go.work
go.work.sum

# Editor
.idea/
.vscode/
*.swp
*.swo
